.section-container{
	padding-top: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.inicio-container{
	background-color: white;
	border-radius: 1em;
	padding: 2em 0;
}

.col-btn{
	text-align: center;
}
.btn-group-lg{
	width: 90%
}