{% extends 'base.html' %}
{% load staticfiles %}


{% block style_content %}
    <link rel="stylesheet" href="{% static 'css/historiaClinica.css' %}">
{% endblock style_content %}
    

{% block content %}
    <section id="section-container">
        <div class="container-fluid">
            <div class="row ml-2 mr-2 fila">
                <div class="col-12 column text-center">
                    <h2>Historia Clinica #{{ cabecera.numero_historia }}</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="section-container">
        <div class="container-fluid">
            <div class="row ml-2 mr-2 fila">
                <div class="col-12 col-md-6 col-lg-4">
                    <h5>Paciente:</h6>
                    <p>{{ paciente.primer_nombre }} {{ paciente.segundo_nombre }} {{ paciente.primer_apellido }} {{ paciente.segundo_apellido }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h5>Cedula:</h6>
                    <p>{{ paciente.cedula }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h5>Fecha de nacimiento: </h6>
                    <p>{{ paciente.fecha_nacimiento }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h5>Direccion: </h6>
                    <p>{{ paciente.direccion }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h5>Ciudad: </h6>
                        <p>{{ paciente.ciudad }}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h5>Telefono: </h6>
                        <p>{{ paciente.telefono }}</p>
                </div>
                <div class="col-12">
                    <a href="{% url 'historias_clinicas:crear_actualizacion' pk=paciente.cedula %}" class="btn btn-outline-primary btn-block"> Ingresar nueva entrada </a>
                </div>
            </div>
        </div>
    </section>
    <section id="section-container">
        <div class="container">
            <div class="row fila">
                <div class="col-12">
                    <div class="list-group">
                        {% for actualizacion in actualizaciones %}
                        <a href="{% url 'historias_clinicas:detalle_actualizacion' pk=paciente.cedula pk_A=actualizacion.pk %}" class="list-group-item list-group-item-action flex-column">
                            <div class="d-flex w-100 justify-content-center">
                            <h5 class="mb-1 text-center">Fecha de la consulta: {{actualizacion.fecha_actualizacion}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock content %}
    