{% extends "base.html" %}
{% load staticfiles %}

{% block style_content %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
{% endblock style_content %}

{% block content %}
	<section class="section-container">
		<div class="container inicio-container">
			<div class="row">
				<div class="col-12 ">
					<h2 class="text-center">Bienvenido {{user.first_name}} {{user.last_name}}, ¿que desea hacer?</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="section-container">
		<div class="container inicio-container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-6 col-btn">
					<div class="btn-group-vertical btn-group-lg" role="group">
						<input type="button" class="btn btn-outline-primary btn-block" value="Registrar nuevo paciente" href="#">
						<input type="button" class="btn btn-outline-primary btn-block" value="Buscar paciente" href="#">
						<input type="button" class="btn btn-outline-primary btn-block" value="Buscar historia clinica" href="#">
						<input type="button" class="btn btn-outline-primary btn-block" value="Citas del dia" href="#">
						<input type="button" class="btn btn-outline-primary btn-block" value="Agendar cita" href="#">
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}